div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}


@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
} 

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  align-content: center;
  justify-content: center;
}

.firstrow, .secondrow, .thirdrow, .fourthrow, .row5, .row6, .row7, .row8, .row9, .row10, .row11, .row12, .row13, .row14, .row15v16, .row17, .row18, .row19, .row20, .row21, .row22, .row23 {
  display: flex;
  flex-direction: row;
}

.header, .smallerheader {
  display: flex;
  margin-left: 1%;
}

/*
.responsive {
  display: flex;
  border-style: solid;
  border-width: 5px;
  border-color: purple;
  flex-direction: column;
}

.gallery {
  display: flex;
  border-style: solid;
  border-width: 5px;
  border-color: green;
}

.wholething {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 5px;
  border-color: red;
}